.home-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
footer{
 color: #ffffffe2;
 font-size: 13px;
 padding: 10px;
 text-align: center;
 line-height: 20px;
}
footer span{
  font-style: italic;
}
footer a{
  color: #fff;
  font-weight: 500;
}
